// Typografia całej witryny
html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.75em;
}

h5 {
  font-size: 0.6em;
  font-weight: 400;
}

p {
  font-size: 0.75em;
}

a{
  color: inherit;
  text-decoration: none;
}